body{
    margin-top: 150px;
}
/*navigasi bar*/
.naviku{
    background-color: #726c6c;
    border-radius: 0;
    border: 0;
    margin: 0;
    color: yellow;
    opacity: .90;
}
.navbar-brand{
padding: 0;
margin-left: 50px;

}

.naviku .navbar-brand{
    color: yellow;
}
.naviku .navilist li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;
}
.naviku .navilist li a:hover{
    background-color: #333131;
    color: yellow;
}
.aktif{
    background-color: #333131;
    font-style: oblique;
    color: yellow;
}
.dropdown-menu{
    background-color: #726c6c;
    padding: 0;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: yellow;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
    color: yellow;
    background-color: #333131;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: yellow;
    background-color: #333131;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: yellow;
}
 li a{
     min-width: 200px;
     text-align: center;
 }

 .pictmain{
     width: 100%;
     height: 200px;
 }
 .kotak{
    padding: 0;
}
.colkiri{
   width: 50%;
   height: 600px;
   background-color: lightcoral;
   float: left;
   text-align: justify;
}
.colkanan{
   width: 50%;
   height: 600px;
   background-color: lightgreen;
   float: left;
   text-align: justify;
}
.clear{
    clear: left;
}
 .footer{
     background-color: #726c6c;
     color: yellow;
     border-radius: 0px;
 }
.contact{
    margin-right: auto;
    margin-left:auto; 
    font-family:cursive;
    font-size: 25px;
    font-style: italic;
}
.table-responsive{
    border:none;
    overflow-x: unset;
}
#map{
    width: 100%;
    height: 400px;
}

.faq{
    font-family: cursive; 
    font-size:20px; 
}
.potoabout{
    margin: 40px auto;
    text-align: center;
}
.photo{
    margin: 40px auto;
    text-align: center;
}
.miring img{
    display: block;
}
.miring:hover img{
    opacity: .6;
    transform: scale(.92);
}
.miring img:hover{
    opacity: 1;
    transform: scale(1) rotate(2deg);
    box-shadow: 7px rgba(0, 0, 0, .5);
}

.modul{
    display: none;
    z-index: 100;
    position: fixed;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #6d6d6d;
}

.modul-inner{
    border: 8px solid #ccc;
    margin: auto;
    padding: 20px;
    width: 60%;
}

.table{
    border-color:#333131;
    margin-left: 25px;
}